# Ignore emacs backup files

*~
\#*\#

# Ignore .nfs temp file

.nfs*

# Python ignores

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env

# Application-specific ignores

#
# User's docker-compose file
#
docker-compose.yaml
docker-compose.yml

#
# Places user might place volumes
#
data/*
volumes/*
work/*

# Keep .gitkeep

!/**/.gitkeep
