# Ignore emacs backup files

*~
\#*\#

# Ignore .nfs temp file

.nfs*

# Python ignores

__pycache__
*.pyc
*.pyo
*.pyd
.Python
env

# Application-specific ignores

docker-compose.yaml
data/*

# Keep .gitkeep

!/**/.gitkeep
