version: '2'
#
# 1) Put this file (without .example) in an otherwise empty directory
# 2) Cd to the directory containing this file
# 3) Change NB_UID below to the uid of the user you want to own your notebooks 
# 4) Run the following command:
#
#   % docker-compose up -d
#
services:
  notebook:
    image: jsemer/fibertree-notebook
    user: root
    environment:
      - NB_UID=1000
      - TZ=America/New_York
    volumes:
      - ./data/fibertree/work:/home/jovyan/work
    ports:
      - "8888:8888"
    command: "start.sh jupyter notebook --NotebookApp.token=''"
    restart:
      unless-stopped
